

        <div class="section1">
            <div class="top-offer">
                <h3>Sale up to 50% discount.hurry up! limited period offer <a href="#">shop now</a> </h3>
            </div>
            <!-- data-bs-ride="carousel" -->
            <div class="slider">
                <div class="carousel slide" id="slideDemo" data-bs-wrap="true" >
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <img src="./assets/imgs/b333.jpg" alt="">
                            <!-- <div class="box"> -->
                                <div class="content">
                                    <!-- <p>new collection</p> -->
                                    <h3>be different in your own way!</h3>
                                    <h5>find your unique style</h5>
                                    <a href="#">Explore Collection</a>
                                </div>
                            <!-- </div> -->
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="./assets/imgs/b2.jpg" alt="">
                            <!-- <div class="box box2"> -->
                                <div class=" content">
                                    <h3>Threads of Elegance</h3>
                                    <p>Introducing the epitome of sartorial excellence – our revolutionary shirt, a
                                        masterful fusion of style, comfort, and functionality. </p>
                                </div>
                                <!-- Immerse yourself in the
                                classic luxury of 100% cotton, delivering an unparalleled softness and
                                breathability against your skin. -->
                            <!-- </div> -->
                        </div>
                        <div class="carousel-item " data-bs-interval="3000">
                            <img src="./assets/imgs/b111.jpg" alt="">
                            <!-- <div class="box box3"> -->
                                <div class="content">
                                    <h3>smooth and lightweight shirt</h3>
                                    <h5>Perfect for both casual and formal occasions</h5>
                                    <!-- <p>Introducing the smooth and lightweight shirt from Style-X! Perfect for both casual and formal occasions, this shirt features a classic collar and button-down design that make it a versatile addition to any wardrobe. Shop now and make a statement!</p> -->
                                    <a href="#">Shop Now</a>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <button class="carousel-control-prev btn" type="button" data-bs-target="#slideDemo"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next btn" type="button" data-bs-target="#slideDemo"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
            <div class="search">
                <h4>find your shirts here</h4>
                <div class="search-bar">
                    <form action="" method="get">
                        <input type="text" name="" id="">
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>
        <div class="section2">
            <p>Latest Collection</p>
            <div class="products">
                <div class="item">
                    <div class="content">
                        <img src="./assets/imgs/s1.webp" alt="">
                        <span class="cart-icon"><i class="ri-shopping-cart-2-fill"></i></span>
                        <div class="details">
                            <h4>VeBNoR </h4>
                            <p>Men Regular Fit...</p>
                            <div class="price">
                                <p>₹339</p>
                                <p>₹999</p>
                                <span>66% off</span>
                            </div>
                            <div class="size">
                                <span><b>Size :</b></span><p> S, M, L, XL, XXL </p>
                            </div>
                        </div>
                    </div>
                    <a href="#"><button>Buy Now</button></a>
                </div>
                <div class="item">
                    <div class="content">
                        <img src="./assets/imgs/s2.webp" alt="">
                        <span class="cart-icon"><i class="ri-shopping-cart-2-fill"></i></span>
                        <div class="details">
                            <h4>VeBNoR </h4>
                            <p>Men Regular Fit...</p>
                            <div class="price">
                                <p>₹339</p>
                                <p>₹999</p>
                                <span>66% off</span>
                            </div>
                            <div class="size">
                                <span><b>Size :</b></span><p> S, M, L, XL, XXL </p>
                            </div>
                        </div>
                    </div>
                    <a href="#"><button>Buy Now</button></a>
                </div>
                <div class="item">
                    <div class="content">
                        <img src="./assets/imgs/s3.webp" alt="">
                        <span class="cart-icon"><i class="ri-shopping-cart-2-fill"></i></span>
                        <div class="details">
                            <h4>VeBNoR </h4>
                            <p>Men Regular Fit...</p>
                            <div class="price">
                                <p>₹339</p>
                                <p>₹999</p>
                                <span>66% off</span>
                            </div>
                            <div class="size">
                                <span><b>Size :</b></span><p> S, M, L, XL, XXL </p>
                            </div>
                        </div>
                    </div>
                    <a href="#"><button>Buy Now</button></a>
                </div>
                <div class="item">
                    <div class="content">
                        <img src="./assets/imgs/s4.webp" alt="">
                        <span class="cart-icon"><i class="ri-shopping-cart-2-fill"></i></span>
                        <div class="details">
                            <h4>VeBNoR </h4>
                            <p>Men Regular Fit...</p>
                            <div class="price">
                                <p>₹339</p>
                                <p>₹999</p>
                                <span>66% off</span>
                            </div>
                            <div class="size">
                                <span><b>Size :</b></span><p> S, M, L, XL, XXL </p>
                            </div>
                        </div>
                    </div>
                    <a href="#"><button>Buy Now</button></a>
                </div>
                <div class="item">
                    <div class="content">
                        <img src="./assets/imgs/s5.webp" alt="">
                        <span class="cart-icon"><i class="ri-shopping-cart-2-fill"></i></span>
                        <div class="details">
                            <h4>VeBNoR </h4>
                            <p>Men Regular Fit...</p>
                            <div class="price">
                                <p>₹339</p>
                                <p>₹999</p>
                                <span>66% off</span>
                            </div>
                            <div class="size">
                                <span><b>Size :</b></span><p> S, M, L, XL, XXL </p>
                            </div>
                        </div>
                    </div>
                    <a href="#"><button>Buy Now</button></a>
                </div>
                <div class="item">
                    <div class="content">
                        <img src="./assets/imgs/s6.webp" alt="">
                        <span class="cart-icon"><i class="ri-shopping-cart-2-fill"></i></span>
                        <div class="details">
                            <h4>VeBNoR </h4>
                            <p>Men Regular Fit...</p>
                            <div class="price">
                                <p>₹339</p>
                                <p>₹999</p>
                                <span>66% off</span>
                            </div>
                            <div class="size">
                                <span><b>Size :</b></span><p> S, M, L, XL, XXL </p>
                            </div>
                        </div>
                    </div>
                    <a href="#"><button>Buy Now</button></a>
                </div>
                <div class="item">
                    <div class="content">
                        <img src="./assets/imgs/s7.webp" alt="">
                        <span class="cart-icon"><i class="ri-shopping-cart-2-fill"></i></span>
                        <div class="details">
                            <h4>VeBNoR </h4>
                            <p>Men Regular Fit...</p>
                            <div class="price">
                                <p>₹339</p>
                                <p>₹999</p>
                                <span>66% off</span>
                            </div>
                            <div class="size">
                                <span><b>Size :</b></span><p> S, M, L, XL, XXL </p>
                            </div>
                        </div>
                    </div>
                    <a href="#"><button>Buy Now</button></a>
                </div>
                <div class="item">
                    <div class="content">
                        <img src="./assets/imgs/s8.webp" alt="">
                        <span class="cart-icon"><i class="ri-shopping-cart-2-fill"></i></span>
                        <div class="details">
                            <h4>VeBNoR </h4>
                            <p>Men Regular Fit...</p>
                            <div class="price">
                                <p>₹339</p>
                                <p>₹999</p>
                                <span>66% off</span>
                            </div>
                            <div class="size">
                                <span><b>Size :</b></span><p> S, M, L, XL, XXL </p>
                            </div>
                        </div>
                    </div>
                    <a href="#"><button>Buy Now</button></a>
                </div>
            </div>
            <a href="#"><button class="mybtn">Show More</button></a>
        </div>
        <div class="section3">
            <div class="content">
                <h3>Sale!! for limited time</h3>
                <p>find your collection</p>
                <a href="#"><button class="mybtn">Shop collection</button></a>
            </div>
        </div>
        <div class="section4">
            <div class="content">
                <h3>New Summer shirts collection</h3>
                <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptates? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, modi!</p>
                <a href="#"><button class="mybtn">Shop Now</button></a>
            </div>
            <div class="s4img">
                <img src="./assets/imgs/summer2.webp" alt="">
                <img src="./assets/imgs/summer.webp" alt="">
            </div>
        </div>
