{% extends "app/base.html" %}
{% load static %}
{% block content %}
    <!-- about us -->
    <div class="about">
        <div class="about-banner">
            <img src="{% static 'img/about-banner.jpg' %}" alt="">
        </div>
        <div class="about-data">
            <img src="{% static 'img/summer.webp' %}" alt="">
            <div class="about-content">
                <h3>Our Story</h3>
                <p>Founded with a passion for quality and style, our journey began with a vision to redefine the way people experience fashion. With a commitment to craftsmanship and innovation, we strive to offer our customers exceptional products that inspire confidence and individuality.</p>

                 <p>   Our brand is built on the values of authenticity, integrity, and inclusivity. We believe in creating timeless pieces that transcend trends, allowing our customers to express their unique identity with every garment they wear.</p>
                
                <p>From our meticulous attention to detail in design to our dedication to sustainable practices, every aspect of our brand reflects our unwavering commitment to excellence. We are proud to provide a diverse range of options that cater to every individual's taste and preferences.</p>
                    
                   <p> Join us as we continue to evolve, innovate, and empower individuals to embrace their style journey with confidence and conviction. Together, let's celebrate the beauty of self-expression and the endless possibilities of fashion.</p>
            </div>
        </div>
    </div>
{% endblock  %}