{% extends "app/base.html" %}
{% block content %}
{% if fail %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{fail}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endif %}    
<div class="login-main">
        
        <div class="login-box">
            <form class="login-form" action="{% url 'fpassword' %}" method="post">
                {% csrf_token %}
                <h3>Forgot password</h3>
                <p>Email</p>
                <input type="email" name="email" id="login-email" placeholder="Enter Your Email" required>
                <div class="register-link">
                    <a href="{% url 'loginPage' %}">Back to login</a>
                </div>
                <input type="submit" class="mybtn" value="Submit">
            </form>
            
        </div>
    </div>
    {% endblock  %}