{% extends "app/base.html" %}
{% load static %}

    
        <!-- "Radhe Radhe" -->
        {% block content %}
        <div class="section1">
            <div class="top-offer">
                <h3>Sale up to 50% discount.hurry up! limited period offer <a href="{% url 'shopPage' %}?discount=50">shop now</a> </h3>
            </div>
            <!-- data-bs-ride="carousel" -->
            <div class="slider">
                <div class="carousel slide" id="slideDemo" data-bs-wrap="true" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <img src="{% static 'img/b333.jpg' %}" alt="">
                            <!-- <div class="box"> -->
                                <div class="content">
                                    <!-- <p>new collection</p> -->
                                    <h3>be different in your own way!</h3>
                                    <h5>find your unique style</h5>
                                    <a href="{% url 'shopPage' %}">Explore Collection</a>
                                </div>
                            <!-- </div> -->
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src=" {% static 'img/b2.jpg' %}" alt="">
                            <!-- <div class="box box2"> -->
                                <div class=" content">
                                    <h3>Threads of Elegance</h3>
                                    <p>Introducing the epitome of sartorial excellence – our revolutionary shirt, a
                                        masterful fusion of style, comfort, and functionality. </p>
                                </div>
                                <!-- Immerse yourself in the
                                classic luxury of 100% cotton, delivering an unparalleled softness and
                                breathability against your skin. -->
                            <!-- </div> -->
                        </div>
                        <div class="carousel-item " data-bs-interval="3000">
                            <img src="{% static 'img/b111.jpg' %}" alt="">
                            <!-- <div class="box box3"> -->
                                <div class="content">
                                    <h3>smooth and lightweight shirt</h3>
                                    <h5>Perfect for both casual and formal occasions</h5>
                                    <!-- <p>Introducing the smooth and lightweight shirt from Style-X! Perfect for both casual and formal occasions, this shirt features a classic collar and button-down design that make it a versatile addition to any wardrobe. Shop now and make a statement!</p> -->
                                    <a href="{% url 'shopPage' %}">Shop Now</a>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <button class="carousel-control-prev btn" type="button" data-bs-target="#slideDemo"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next btn" type="button" data-bs-target="#slideDemo"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
            <div class="search">
                <h4>find your shirts here</h4>
                <div class="search-bar">
                    <form action="{% url 'shopPage' %}" method="get">
                        <input type="text" name="q">
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>
        <div class="section2">
            <p>Latest Collection</p>
            <div class="products">
                {% if products %}
                {% for product in products %}
                <div class="item">
                  
                    <div class="content">   
                    
                        <a href="{% url 'productdetailsPage' pid=product.id %}" style="text-decoration: none;">
                            <img src="{{product.imgs.first.image.url}}" alt="{{product.product_name}}">
                        </a>     
                        <span class="cart-icon"><a href="{% url 'addtocart' pid=product.id %}?from_page=shopPage"><i class="ri-shopping-cart-2-fill"></i></a></span>
                        <div class="details">
                            <h4>{% if product.product_name|length > 10 %}
                                {{product.product_name|slice:":10"}}...
                                {% else %}
                                {{product.product_name}}
                                {% endif %}
                            
                            </h4>
                            <p> {% if product.product_description|length > 10 %}
                                {{ product.product_description|slice:":10" }}...
                                {% else %}
                                {{ product.product_description}}
                                {% endif %}</p>
                            <div class="price">
                              {% if product.offer.discount_percentage %}
                              <p>₹{{product.discount_price|default_if_none:"0"|floatformat:0}}</p>
                              <p style="text-decoration: line-through;">₹{{product.price|default_if_none:"0"|floatformat:0}}</p>
                              <span>{{ product.offer.discount_percentage|default_if_none:"0"|floatformat:0 }}% off</span>
                              {% else %}
                              <p>₹{{product.price|default_if_none:"0"|floatformat:0}}</p>

                                {% endif %}

                            </div>
                            <div class="size">
                                <span><b>Size :</b></span><p>{{product.sizes}}</p>
                            </div>
                        </div>
                        
                    </div>
                  
                    <a href="{% url 'razorpayOrder' %}?pid={{product.id}}&from_page=shop"><button>Buy Now</button></a>
                </div>
                {% endfor %}
                {% endif %}
                
            </div>
            <a href="{% url 'shopPage' %}"><button class="mybtn">Show More</button></a>
        </div>
        <div class="section3">
            <div class="content">
                <h3>Sale!! for limited time</h3>
                <p>find your collection</p>
                <a href="{% url 'shopPage' %}"><button class="mybtn">Shop collection</button></a>
            </div>
        </div>
        <div class="section4">
            <div class="content">
                <h3>New Summer shirts collection</h3>
                <p>Elevate your summer style with our latest collection of men's shirts. From classic button-downs to trendy prints, find the perfect fit for any occasion. Stay cool and stylish all season long.</p>
                <a href="{% url 'shopPage' %}?collection=summer"><button class="mybtn">Shop Now</button></a>
            </div>
            <div class="s4img">
                <img src="{% static 'img/summer2.webp' %} " alt="">
                <img src="{% static 'img/summer.webp' %} " alt="">
            </div>
        </div>
        {% endblock %}
    