{% extends "app/base.html" %}
{% block content %}

{% if 'msg' in request.GET %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{request.GET.msg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}    
{% if msg %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{msg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}    
    <div class="login-main">
        
        <div class="login-box">
            <form class="login-form" action="{% url 'registration' %}" method="post">
                {% csrf_token %}
                <h3>Verification</h3>
                <!-- <h5></h5> -->
                <p>Email</p>
                <input type="email" name="email" value="{{request.session.email}}" readonly >
                <p>OTP</p>
                <input type="number" name="otp" placeholder="Enter OTP" required>
                <input type="submit" class="mybtn" name="otpbtn" value="Verify">
                <div class="register-link">
                    <a id="resendLink"  href="{% url 'resendOtp' email=request.session.email %}" >Resend OTP</a>
                </div>
                <span id="timer"></span>
            </form>
            
        </div>
    </div>
    <!-- <script>
       document.addEventListener("DOMContentLoaded", function() {
        var resendLink = document.getElementById("resendLink");
        var timerDisplay = document.getElementById("timer");

        // Function to start the countdown timer and control the resend link
        function startTimer() {
            var countDown = 300; // 5 minutes in seconds

            var timerInterval = setInterval(function() {
                countDown--;
                var minutes = Math.floor(countDown / 60);
                var seconds = countDown % 60;

                timerDisplay.innerHTML = "Resend OTP in " + minutes + " minutes " + seconds + " seconds";

                if (countDown <= 0) {
                    clearInterval(timerInterval);
                    timerDisplay.innerHTML = ""; // Remove timer display
                    resendLink.removeAttribute("aria-disabled"); // Enable resend link when timer expires
                    resendLink.setAttribute("href", "{% url 'resendOtp' email=request.session.email %}"); // Set the link's href attribute
                }
            }, 1000); // Update every second

            // Disable resend link when timer starts
            resendLink.setAttribute("aria-disabled", "true");
            resendLink.removeAttribute("href"); // Remove the link's href attribute
        }

        // Start the countdown timer and control the resend link
        startTimer();
    });
    </script> -->
    
    {% endblock  %}