{% extends "app/base.html" %}
{% block content %}
{% if fail %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{fail}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endif %}    
<div class="login-main">

        <div class="login-box">
            <form class="login-form" action="{% url 'srpasswrod' %}" method="post" onsubmit="return validatePassword(event)">
                {% csrf_token %}
                <h3>Reset password</h3>
                <p>New password</p>
                <input type="password" name="pass" id="password" placeholder="Enter New password" required>
                <p>Confirm New Password</p>
                <input type="password" name="cpass"  placeholder="Enter Confirm Password" required>
                <input type="submit" class="mybtn" value="Reset Password">
            </form>
            
        </div>
    </div>
    {% endblock  %}